.orderBook {
  background-color: var(--bg-basic);
  padding: 20px;
  border-radius: 8px;
  position: relative;
  /* overflow: hidden; */

  .orderBookHeader {
    h6 {
      margin: 0;
    }
    .headerDivider {
      height: 1px;
      background-color: var(--text-disabled);
      margin: 6px 0;
    }
  }

  .orderBookBody {
    gap: 20px;
    width: 320px;
  }

  .waitingOverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    backdrop-filter: blur(10px);
    z-index: 100;
    transition: top ease-in-out 0.2s;
    border-radius: 0 0 8px 8px;

    &.show {
      top: 52px;
    }

    svg.loader {
      stroke: var(--bg-btn);
      animation: spin 4s linear infinite;
    }
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
