:root {
  --bg: #fff;
  --bg-basic: #b3c0e8;
  --bg-card: #9dacc8;
  --bg-btn: #fcd535;
  --text-primary: #161617;
  --text-secondary: #585d64;
  --text-tertiary: #707a8a;
  --text-disabled: #979fad;
  --text-sell: #f6465d;
  --text-buy: #2ebd85;
  --color-line: #333b47;
  --color-input: #8aa8d4;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text-primary);
  background: var(--bg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #0c0e11;
    --bg-basic: #181a20;
    --bg-card: #202630;
    --text-primary: #eaecef;
    --text-secondary: #929aa5;
    --text-disabled: #4f5867;
    --color-input: #29313d;
  }
}

.d-flex {
  display: flex;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-stretch {
  align-items: stretch;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.hide {
  display: none;
}

.w-100 {
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  font-family: var(--sans);
}
