:root {
  --bg: #fff;
  --bg-basic: #b3c0e8;
  --bg-card: #9dacc8;
  --bg-btn: #fcd535;
  --text-primary: #161617;
  --text-secondary: #585d64;
  --text-tertiary: #707a8a;
  --text-disabled: #979fad;
  --text-sell: #f6465d;
  --text-buy: #2ebd85;
  --color-line: #333b47;
  --color-input: #8aa8d4;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text-primary);
  background: var(--bg);

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #0c0e11;
    --bg-basic: #181a20;
    --bg-card: #202630;
    --text-primary: #eaecef;
    --text-secondary: #929aa5;
    --text-disabled: #4f5867;
    --color-input: #29313d;
  }
}

.d-flex {
  display: flex;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-stretch {
  align-items: stretch;
}

.justify-space-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.hide {
  display: none;
}

.w-100 {
  width: 100%;
}

* {
  box-sizing: border-box;
}

/* @font-face {
  font-family: 'BinanceNova';
  font-display: swap;
  src:
    url('https://bin.bnbstatic.com/static/fonts/bn/BinanceNova-Light.woff2') format('woff2'),
    url('https://bin.bnbstatic.com/static/fonts/bn/BinanceNova-Light.otf') format('opentype');
  font-weight: 200 300;
}
@font-face {
  font-family: 'BinanceNova';
  font-display: swap;
  src:
    url('https://bin.bnbstatic.com/static/fonts/bn/BinanceNova-Regular.woff2') format('woff2'),
    url('https://bin.bnbstatic.com/static/fonts/bn/BinanceNova-Regular.otf') format('opentype');
  font-weight: 400;
}
@font-face {
  font-family: 'BinanceNova';
  font-display: swap;
  src:
    url('https://bin.bnbstatic.com/static/fonts/bn/BinanceNova-Medium.woff2') format('woff2'),
    url('https://bin.bnbstatic.com/static/fonts/bn/BinanceNova-Medium.otf') format('opentype');
  font-weight: 500;
}
@font-face {
  font-family: 'BinanceNova';
  font-display: swap;
  src:
    url('https://bin.bnbstatic.com/static/fonts/bn/BinanceNova-SemiBold.woff2') format('woff2'),
    url('https://bin.bnbstatic.com/static/fonts/bn/BinanceNova-SemiBold.otf') format('opentype');
  font-weight: 600;
}
@font-face {
  font-family: 'BinanceNova';
  font-display: swap;
  src:
    url('https://bin.bnbstatic.com/static/fonts/bn/BinanceNova-Bold.woff2') format('woff2'),
    url('https://bin.bnbstatic.com/static/fonts/bn/BinanceNova-Bold.otf') format('opentype');
  font-weight: 700 800;
}
@font-face {
  font-family: 'BinanceNova';
  font-display: swap;
  src:
    url('https://bin.bnbstatic.com/static/fonts/bn/BinanceNova-Black.woff2') format('woff2'),
    url('https://bin.bnbstatic.com/static/fonts/bn/BinanceNova-Black.otf') format('opentype');
  font-weight: 900;
} */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  font-family: var(--sans);
}
