.icon {
  stroke: var(--text-tertiary);
  opacity: 0.4;
  cursor: pointer;
  height: 18px;

  &.selected,
  &:hover {
    opacity: 0.8;
    stroke: var(--text-secondary);
  }
}

.both {
  rect:nth-child(1) {
    fill: var(--text-sell);
  }
  rect:nth-child(3) {
    fill: var(--text-buy);
  }
}

.asks {
  fill: var(--text-sell);
}

.bids {
  fill: var(--text-buy);
}
